@font-face { font-family: 'Gameplay';
    src: local('Gameplay');
    url('/Gameplay.ttf') format('truetype'); }

input[type='number'] {
    -moz-appearance:textfield;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    font-family: "Gameplay", "Lucida Console";
    margin: 10px;
    padding: 10px;
}

input {
    margin: 10px;
    padding: 10px;
}

h1 {
    margin-top: 0px;
}

fieldset {
    margin: 10px;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

#inputs {
    flex-grow: 1;
}

#right {
    margin-left: 50px;
    flex-grow: 3;
}

#right ul {
    list-style: none;
}

#pizzaOverviewH1 {
    margin-left: 45px;
}

@media (max-width: 650px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #right {
        flex-grow: 1;
    }
}

.text {
    width: 200px;
    padding: 10px;
}

#pizzaList td {
    background-color: #00B7FF;
}

#pizzaList th {
    background-color: darkorange;
}

.delete {
    width: 30px;
    padding: 10px;
    background-color: #00B7FF;
}

#right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}